<table border="2">
 <tr>
 {{#if cardHasImage}}
  <td>
   <a href="{{cardImageLink}}"><img src="{{cardImageLink}}" height="300px"/></a>
  </td>
  {{/if}}
  {{#if cardHasGoldImage}}
    <td>
   <a href="{{cardGoldImageLink}}"><img src="{{cardGoldImageLink}}" height="300px"/></a>
  </td>
  {{/if}}
  <td valign="top">
   {{#if additionalSearchMatches}}
   <p>Additional Search Matches:
   <table>
    <tr>
    {{#each additionalSearchMatches}}
     <td valign="top">
      <ul>
      {{#each this}}
       <li>
        {{#if store_url}}
         <a href="{{cardImageLink}}">{{name}}</a>
        {{else}}
         {{name}} 
        {{/if}}
       </li>
      {{/each}}
      </ul>
     </td>
    {{/each}}
    </tr>
   </table>
  {{/if}}
  </td>
</tr>
</table>