<table border="2">
 <tr>
  <td>
    {{#if cardNotFound}}
    No dice, can't find a "{{cardName}}" card anywhere!
    {{else}}
       {{#if cardHasImage}}
       <a href="{{cardStoreLink}}"><img src="{{cardImageLink}}" height="300px"/></a>
       {{else}}
       <p><b>Name:</b> <a href="{{cardStoreLink}}">{{cardName}}</a>
       <p><b>Type:</b> {{cardType}}
       <p><b>Color:</b> {{cardColor}}
       <p><b>Text:</b> {{cardText}}
       {{/if}}
    {{/if}}
  </td>
  <td valign="top">
   {{#if additionalSearchMatches}}
   <p>Additional Search Matches:
   <table>
    <tr>
    {{#each additionalSearchMatches}}
     <td valign="top">
      <ul>
      {{#each this}}
       <li>
        {{#if store_url}}
         <a href="{{store_url}}">{{name}}</a>
        {{else}}
         {{name}} 
        {{/if}}
       </li>
      {{/each}}
      </ul>
     </td>
    {{/each}}
    </tr>
   </table>
  {{/if}}
  </td>
 </tr>
 <tr>
    <td colspan="2">
   {{#each editions}}
    {{#if hasImage}}
     <span><a href="{{store_url}}"><img src="{{image_url}}" height="100px"/></a></span>
     {{#ifCond @index '==' 4}}
     <br/>
     {{/ifCond}}
      {{#ifCond @index '==' 9}}
     <br/>
     {{/ifCond}}
     {{#ifCond @index '==' 14}}
     <br/>
     {{/ifCond}}
    {{/if}}
   {{/each}}
    </td>
 </tr>
</table>